<div
  routerLink="/maincontent/summary"
  class="side-menu-responsive"
  tabindex="0"
>
  <img tabindex="0" src="./assets/img/summary-icon.svg" />
  <span tabindex="0">Summary</span>
</div>
<div
  routerLink="/maincontent/addtask"
  class="side-menu-responsive"
  tabindex="0"
>
  <img tabindex="0" src="./assets/img/addTask-icon.svg" />
  <span tabindex="0">Add Task</span>
</div>
<div routerLink="/maincontent/board" class="side-menu-responsive" tabindex="0">
  <img tabindex="0" src="./assets/img/board-icon.svg" />
  <span tabindex="0">Board</span>
</div>
<div
  routerLink="/maincontent/contacts"
  class="side-menu-responsive"
  tabindex="0"
  >
  <img tabindex="0" src="./assets/img/contacts-icon.svg" />
  <span tabindex="0">Contacts</span>
</div>
