<div
  routerLink="/maincontent/summary"
  class="side-menu-responsive"
  tabindex="0"
>
  <img src="./assets/img/summary-icon.svg" />
  <span>Summary</span>
</div>
<div
  routerLink="/maincontent/addtask"
  class="side-menu-responsive"
  tabindex="0"
>
  <img src="./assets/img/addTask-icon.svg" />
  <span>Add Task</span>
</div>
<div routerLink="/maincontent/board" class="side-menu-responsive" tabindex="0">
  <img src="./assets/img/board-icon.svg" />
  <span>Board</span>
</div>
<div
  routerLink="/maincontent/contacts"
  class="side-menu-responsive"
  tabindex="0"
>
  <img src="./assets/img/contacts-icon.svg" />
  <span>Contacts</span>
</div>
