<p class="summary-greeting">Good morning, <span>Sofia Müller</span></p>
<div class="summary-secondline">
  <div class="summary-secondline-blue">
    <div class="summary-secondline-tasksurgent">
      <div>
        <img src="./assets/img/tasksUrgent-icon.svg" />
        <span>1</span>
      </div>
      <p>Tasks Urgent</p>
    </div>
    <div class="summary-secondline-deadline">
      <span>October 16, 2022</span>
      <p>Upcoming Deadline</p>
    </div>
  </div>
  <div class="summary-taskcontainer task-todo">
    <div>
      <img src="./assets/img/tasksTodo-icon.svg" />
      <span>1</span>
    </div>
    <p>Tasks To-Do</p>
  </div>
</div>
<div class="summary-thirdline">
  <div class="summary-taskcontainer">
    <div>
      <img class="taskinboard-img" src="./assets/img/tasksInboard-icon.svg" />
      <span>5</span>
    </div>
    <p>Task in Board</p>
  </div>
  <div class="summary-taskcontainer">
    <div>
      <img src="./assets/img/tasksInprogress-icon.svg" />
      <span>2</span>
    </div>
    <p>Task in Progress</p>
  </div>
  <div class="summary-taskcontainer">
    <div>
      <img src="./assets/img/tasksAwaitingfeedback-icon.svg" />
      <span>2</span>
    </div>
    <p>Awaiting Feedback</p>
  </div>
  <div class="summary-taskcontainer">
    <div>
      <img src="./assets/img/tasksDone-icon.svg" />
      <span>1</span>
    </div>
    <p>Tasks Done</p>
  </div>
</div>
