$dark-blue: #005dff;
$light-blue-hover: #3a8cff;
$main-blue: #4589ff;
$white: #ffffff;
$grey: #42526e;
$input-border: #d1d1d1;
$grey-blue: #d2e3ff;
$night-blue: #2a3647;
$header-height: 96px;
$transition: all 125ms ease-in-out;

::ng-deep app-summary {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.summary-greeting {
  font-size: 48px;
  line-height: 58px;
  letter-spacing: 0em;
  text-align: left;
  color: $night-blue;
  text-align: center;

  span {
    font-size: 64px;
    font-weight: 700;
    line-height: 77px;
    letter-spacing: 0em;
    text-align: left;
    color: $main-blue;
  }
}

.summary-secondline {
  display: flex;
  justify-content: center;
  margin-top: 72px;
  gap: 36px;
}

.summary-secondline-blue {
  display: flex;
  align-items: center;
  padding: 28px 48px;
  background-color: $main-blue;
  border-radius: 30px;
  color: $white;
  overflow: hidden;

  p {
    font-size: 23px;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
  }

  &:hover {
    cursor: pointer;
    border-top-left-radius: 0px;
    transform: scale(1.05);
    background-color: $white;
    color: $main-blue;
    box-shadow: 0px 0px 4px 0px #00000029;
    transition: transform 225ms ease-in-out;

    .summary-secondline-tasksurgent {
      border-color: $main-blue;
    }
  }
}

.summary-secondline-tasksurgent {
  display: flex;
  flex-direction: column;
  border-right: 3px solid $white;
  gap: 9px;
  padding-right: 35px;
  margin-left: 46px;

  div {
    display: flex;
    align-items: center;
    gap: 20px;
    img {
      width: 65px;
      border: 3px solid $white;
      border-radius: 100%;
    }

    span {
      font-size: 48px;
      font-weight: 700;
    }
  }

  p {
    text-align: center;
  }
}

.summary-secondline-deadline {
  display: flex;
  flex-direction: column;
  padding-left: 35px;
  margin-right: 46px;

  span {
    font-size: 33px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: left;
  }

  p {
    font-size: 23px;
    line-height: 27.6px;
  }
}

.summary-thirdline {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
  margin: 32px 16px 0 16px;
  flex-wrap: wrap;
}

.summary-taskcontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 4px 0px #00000029;
  border-radius: 30px;
  width: 204px;
  height: 183px;
  box-sizing: border-box;

  div {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  span {
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    letter-spacing: 0em;
    text-align: center;
    margin-left: 15px;
  }

  p {
    max-width: 128px;
    text-overflow: clip;
    text-align: center;
  }

  &:hover {
    transition: $transition;
    cursor: pointer;
    border-top-left-radius: 0px;
    transform: scale(1.05);
    background-color: $dark-blue;
    color: $white;
    box-shadow: 0px 0px 4px 0px #00000029;

    img {
      border: 3px solid $white;
      border-radius: 100%;
    }
  }
}

@media screen and (max-width: 1200px) {
  .summary-secondline {
    flex-wrap: wrap;
  }

  .task-todo {
    width: 100%;
    max-width: 673px;
    flex-direction: row;
    max-height: 115px;
  }
}

@media screen and (max-width: 750px) {
  .summary-secondline-blue {
    padding: 14px 0;
    p {
      font-size: 19px;
      line-height: 28px;
    }

    .summary-secondline-tasksurgent {
      margin-left: 23px;
      padding-right: 20px;
      span {
        font-size: 40px;
      }
    }
    .summary-secondline-deadline {
      margin-right: 23px;
      padding-left: 20px;
      span {
        font-size: 23px;
      }
      p {
        font-size: 16px;
        line-height: 28px;
      }
    }
  }

  .task-todo {
    max-width: 394.5px;
  }

  .summary-greeting {
    p {
      font-size: 33px;
      line-height: 50px;
    }
    
    span {
      font-size: 47px;
      line-height: 50px;
    }
  }
}

@media screen and (max-width: 400px) {
  .summary-secondline-blue {
    .summary-secondline-tasksurgent {
      margin-left: 15px;
      padding-right: 15px;
    }
    .summary-secondline-deadline {
      margin-right: 15px;
      padding-left: 15px;
    }
  }
}
