<p class="summaryuser-greeting">Good morning, <span>Sofia Müller</span></p>
    <div class="summaryuser-secondline">
      <div class="summaryuser-secondline-blue">
        <div class="summaryuser-secondline-tasksurgent">
          <div>
            <img src="./assets/img/tasksUrgent-icon.svg" />
            <span>1</span>
          </div>
          <p>Tasks Urgent</p>
        </div>
        <div class="summaryuser-secondline-deadline">
          <span>October 16, 2022</span>
          <p>Upcoming Deadline</p>
        </div>
      </div>
      <div class="summaryuser-taskinboard">
        <div>
          <img class="taskinboard-img" src="./assets/img/taskBoard-icon.svg" />
          <span>5</span>
        </div>
        <p>Task in Board</p>
      </div>
    </div>
    <div></div>
