$dark-blue: #005dff;
$light-blue-hover: #3a8cff;
$main-blue: #4589ff;
$white: #ffffff;
$grey: #42526e;
$light-grey: #a8a8a8;
$input-border: #d1d1d1;
$grey-blue: #d2e3ff;
$night-blue: #2a3647;

:host {
  width: 100%;
  padding: 0 39px;
  box-sizing: border-box;
  height: 83vh;
}

.board-container {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.board-headline {
  display: flex;

  button {
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    background-color: $main-blue;
    border: none;
    color: $white;
    padding: 16px 10px;
    transition: all 125ms ease-in-out;

    &:hover {
      cursor: pointer;
      background-color: $dark-blue;
    }

    img {
      display: flex;
      align-items: center;
    }
  }
}

.board-searchbar {
  display: flex;
  align-items: center;
  border: 1px solid $light-grey;
  border-radius: 10px;
  margin-right: 35px;
  input {
    border-radius: 10px;
    border: none;
    padding: 8px 16px;
  }

  input:focus {
    outline: none;
  }

  img {
    padding: 0 16px;
    border-left: 1px solid $light-grey;
    line-height: 31px;

    &:hover {
      cursor: pointer;
    }
  }
}

.board-column {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  flex-wrap: wrap;
}

.board {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 252px;
  gap: 29px;

  span {
    display: flex;
    justify-content: space-between;
  }
}

.board-empty {
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e7e7;
  border-radius: 10px;
  border: 1px dashed $light-grey;
  color: $light-grey;
}

.board-value {
  display: flex;
  flex-direction: column;
  border-radius: 24px;
  box-shadow: 0px 0px 10px 3px #00000014;
  padding: 16px;
  gap: 10px;

  &:hover {
    cursor: pointer;
  }
}

.board-category {
  color: $white;
  background-color: orange;
  width: fit-content;
  border-radius: 8px;
  padding: 4px 16px;
}

.board-title {
  color: $main-blue;
  font-weight: bold;
}

.board-description {
  color: $light-grey;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.board-info {
  display: flex;
  justify-content: space-between;
}

.board-contact {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FF7A00;
  font-size: 12px;
  line-height: 14.4px;
  color: $white;
  border-radius: 50%;
  width: 32px;
  height: 32px;
}

.openBoard-background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #a8a8a8;
}

.openBoard {
  display: flex;
  position: absolute;
  width: 528px;
  top: 0;
  left: 0;
  background-color: $white;
  border-radius: 30px;
  padding: 48px 40px;
  gap: 24px;
  z-index: 9;
  box-shadow: 0px 0px 4px 0px #00000029;

}
