<app-header />
<mat-drawer-container class="summary-container">
  <mat-drawer mode="side" opened class="side-container">
    <app-sidebar [class.hidden]="isMobileScreen" [class.display]="!isMobileScreen"/>
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
<app-sidebar-responsive [class.hidden]="!isMobileScreen" [class.display]="isMobileScreen"/>

<div id="openBoard" class="openBoard-background" style="display: none">
  <div class="openBoard">
    <div class="openBoard-value">
      <div class="openBoard-category">Ticket</div>
      <div class="openBoard-title">Eviatec - Ticket #00001</div>
      <div class="openBoard-description">
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
        eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
      </div>
      <div class="openBoard-info">
        <div class="openBoard-contact">LG</div>
        <span>Medium</span>
      </div>
    </div>
  </div>
</div>
