$light-blue: #005dff;
$light-blue-hover: #3a8cff;
$main-blue: #4589ff;
$white: #ffffff;
$grey: #42526e;
$input-border: #d1d1d1;
$grey-blue: #D2E3FF;

$header-height: 96px;

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $main-blue;
    height: $header-height;

    span {
        color: $white;
    }

    span:nth-of-type(2) {
        border-radius: 100%;
        border: 1px solid $white;
        padding: 15px;
        max-width: 56px;
        max-height: 56px;
        background-color: $white;
        color: $main-blue;

        &:hover {
            cursor: pointer;
        }
    }
}

.summaryuser-logo {
    width: 46px;
    margin-left: 20px;
}

.summary-header-rightside {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-right: 20px;

    img {
        &:hover {
            cursor: pointer;
        }
    }
}

.mat-drawer-container {
    height: calc(100vh - #{$header-height});
}

.side-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 38px 0 66px 0;
    width: 232px;
}

.side-menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    color: $grey;
}

::ng-deep .mat-drawer-inner-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.side-menu {
    display: flex;
    align-items: center;
    width: 186px;
    border-radius: 8px;
    gap: 9px;
    padding: 6.5px 0;

    img {
        width: auto;
        height: 24px;
        margin-left: 31px;
    }

    &:hover {
        transition: all 225ms ease-in-out;
        cursor: pointer;
        background-color: $grey-blue;
    }

}

.side-servicelinks {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;

    a {
        color: $grey;
        text-decoration: none;
        padding: 8px;
        margin-left: 48px;

        &:hover {
            cursor: pointer;
        }
    }
}
